ul {
    list-style: none;
}

li {
    color: white;
    font-size: 18px;
}

button {
    border: none;
    border-radius: 8px;
    min-height: 46px;
    padding-inline: 16px;
    font-weight: bold;
    color: white;
}

h2 {
    color: white;
}

button:hover {
    cursor: pointer;
}

.add {
    background-color: rgb(17, 235, 17);
    margin-inline-end: 15px;
}

.remove {
    background-color: rgb(170, 15, 15);
}

p {
    text-align: center;
    font-size: 18px;
    color: white;
}